In [1]:
import pandas as pd
import glob

In [20]:
dfs = []
for path in glob.glob('*falcon*.csv'):
    model = path.split('eng_')[-1][:-4]
    if model[-1] == 'b':
        model_name = model
        lang = 0
    else:
        model_name = '-'.join(model.split('-')[:-1])[:-5]
        lang = int(model.split('-')[-1])
    df = pd.read_csv(path)
    df['model'] = model_name
    df['lang'] = lang
    dfs.append(df)
df = pd.concat(dfs)

In [25]:
metric = 'macro_f1_score'
df.groupby(['model', 'lang', 'dataset'])[metric].mean().reset_index().pivot(index=['model', 'lang'], columns='dataset', values=metric)

dataset          SetFit/qnli  SetFit/wnli  cardiffnlp/tweet_topic_single  \
model      lang
falcon-40b 0        0.500418     0.454194                       0.203622
           1        0.351498     0.350730                       0.124609
           10       0.332778     0.301624                       0.164001
falcon-7b  0        0.400776     0.370192                       0.184452
           1        0.332429     0.303922                       0.164610
           2        0.331434     0.313055                       0.203134
           3        0.340026     0.303922                       0.153993
           5        0.331166     0.303922                       0.111430
           10       0.330925     0.303922                       0.105003
           20       0.330977     0.303922                       0.171444
           45       0.376014     0.339720                       0.184880

dataset              sst2
model      lang
falcon-40b 0     0.564847
           1     0.641506
           10    0.604905
falcon-7b  0     0.730271
           1     0.615298
           2     0.648552
           3     0.619815
           5     0.673019
           10    0.646097
           20    0.639094
           45    0.648011